.dummy-nav{
    height: 9vh;
}
form{
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-input{
    color: aliceblue;
    font-family: 'Maven Pro';
    margin: 2vw;
    input{
        text-align: center;
        border-style:solid;
        box-shadow: none !important;
        background-color: #262622;
        color: #ee3252ff!important;
    }
}
.checkboxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    div{
        padding: 2vw;
        color: aliceblue;
        input{
            font-size: 2em;
            
        }
        input:checked {
            background-color: #ee3252ff !important;
          }
        label{
            font-size: 2em;
        }
    }
}
body{
    background-color: #262622 !important;
}

.button-40 {
    width: 20vw !important;
    font-family: 'Maven Pro';
    text-align: center;
    background-color: #3a3a34;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #ecececec;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;

}

.button-40:hover {
    background-color: #121212;
}

.button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}