{% extends 'main.html'%}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'about.css' %}">{% endblock %}
{% block content %}

    <div class="dummy-nav"></div>
    <section class="header-text-container">
        <h1><span style="color: #ee3252ff;">\\\</span> Meet The Masterminds <span style="color: #ee3252ff;">\\\</span></h1>
    </section>
    <section class="profile-container">
        <img src="https://placehold.co/400x400?text=Shaven" alt="">
        <div>
            <h2><span style="color: #ee3252ff;">{ %</span> Shaven Wickramanayake <span style="color: #ee3252ff;">% }</span></h2>
            <hr>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae possimus distinctio soluta ea assumenda dolore ex quibusdam minima laudantium excepturi sequi minus eveniet eius nisi, corrupti dolorem molestias aut sit!</small>
            
        </div>
    </section>
    <section class="profile-container">
        
        <div>
            <h2><span style="color: #ee3252ff;"><</span>Inuka Thantrige<span style="color: #ee3252ff;">/></span></h2>
            <hr>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae possimus distinctio soluta ea assumenda dolore ex quibusdam minima laudantium excepturi sequi minus eveniet eius nisi, corrupti dolorem molestias aut sit!</small>
        </div>
        <img src="https://placehold.co/400x400?text=Inuka" alt="">
    </section>
    <section class="profile-container">
        <img src="https://placehold.co/400x400?text=Lahiru" alt="">
        <div>
            <h2><span style="color: #ee3252ff;">&copy;$</span>Lahiru Lankeshwara<span style="color: #ee3252ff;">$&copy;</span></h2>
            <hr>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae possimus distinctio soluta ea assumenda dolore ex quibusdam minima laudantium excepturi sequi minus eveniet eius nisi, corrupti dolorem molestias aut sit!</small>
        </div>
    </section>
    <section class="profile-container">
        
        <div>
            <h2><span style="color: #ee3252ff;">&#128396;</span>Ayan Withanapathirana<span style="color: #ee3252ff;">&#128396;</span></h2>
            <hr>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae possimus distinctio soluta ea assumenda dolore ex quibusdam minima laudantium excepturi sequi minus eveniet eius nisi, corrupti dolorem molestias aut sit!</small>
        </div>
        <img src="https://placehold.co/400x400?text=Ayan" alt="">
    </section>

{% endblock %}